# JSON files made on launch, changes based on user actions
#######################
/data/properties.json
/data/scripts.json
/data/users.json

# generated python files
*.pyc
*.pyo

# IDE's dotfiles
*.idea
